<h1 style='text-align: center ; margin-top: 40px;'>CÁC TRẬN ĐẤU ĐANG MỞ BÁN VÉ</h1>

<table class='table mt-4'>
  <thead>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'>CLB</th>
      <th scope='col'>NGÀY THI ĐẤU</th>
      <th scope='col'>GIỜ THI ĐẤU</th>
      {{! <th scope='col'>LOẠI VÉ</th>
      <th scope='col'>SỐ LƯỢNG</th> }}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each ticket}}
      <tr>
        <th scope='row'>{{sum @index 1}}</th>
        <td>{{this.clb}}</td>
        <td>{{this.day}}</td>
        <td>{{this.time}}</td>
        {{!-- <td>
          <select class='form-select' aria-label='Default select example'>
            <option selected>Chọn loại vé</option>
            <option value='{{this.price}}'>Vé Thường : {{this.price}}</option>
            <option value='2'>Vé Vip 1 :
              {{pricerTichket this.price 50000}}</option>
            <option value='3'>Vé Vip 2 :
              {{pricerTichket this.price 70000}}
            </option>
          </select>
        </td>
        <td><input type='text' name='name' placeholder='name' /></td> --}}

        <td><a href='/ticket/buy/{{this._id}}'><button
              type='submit'
              class='btn btn-primary'
            >ĐẶT VÉ</button></a></td>

      </tr>
    {{/each}}
  </tbody>
</table>